thead{
    background-color: #558b23  ;
}

.btn-delete{
    background-color:  #6c765f ;
}

.btn-edit,.btn-cancel{
    border-color: black !important;
    border-width: 2px !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color:  #9c9c9c;
}

.btn-cancel{
    background-color:  #6c765f ;
}

.btn-delete:hover, .btn-edit:hover{
    opacity: 0.7;
}


.btn-insert{
    background-color:  #73be22 ;
}

.btn-insert:hover{
    background-color:  #73be22 ;
    opacity: 0.8;
}

.btn-cancel:hover{
    opacity: 0.8;
}

.container-insert-search__{
    display: flex;
    justify-content: space-between;
}

.container-insert-search__>input{
    width: 20%;
    border-radius: 5px;
    padding: 5px;
    height: 43px;
    border: 2px solid black;
}

.container-insert-search__>input:focus{
    border-color: #73be22 ;
}