thead{
    background-color: #558b23  ;
}
.color-text__{
    color: #558b23  ;
}
.background__{
    background-color: #9c9c9c3a;
}
.btn-delete{
    background-color:  #6c765f ;
}

.btn-table{
    background-color:  #6c765f ;
}

.btn-edit,.btn-cancel,.btn-insert,.btn-table{
    border-color: black !important;
    border-width: 2px !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color:  #9c9c9c;
}

.btn-cancel{
    background-color:  #6c765f ;
}

.btn-delete:hover, .btn-edit:hover, .btn-table:hover{
    opacity: 0.7;
}


.btn-insert{
    background-color:  #73be22 ;
}

.btn-insert:hover{
    background-color:  #73be22 ;
    opacity: 0.8;
}

.btn-cancel:hover{
    opacity: 0.8;
}

.container-insert-search__{
    border: 2px solid rgba(0, 0, 0, 0.733);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
}

.search__{
    margin-top: 5px;
}

.container-insert-search__>input{
    width: 20%;
    border-radius: 5px;
    padding: 5px;
    height: 43px;
}

input, select{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    height: 43px;
    border: 1px solid rgba(58, 56, 56, 0.829);
    outline: none;
}

input:focus, select:focus,textarea:focus{
    border-width: 2px;
    border-color: #73be22;
}

input{
    font-weight: 400;
    background-color:  #d3cece;
}

select{
    background-color:  #d3cece;
}

button{
    font-weight: 300;
}
.table-responsive{
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.733);
}

.data-filter{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
}

.table__header{
    font-size: 19px;
    font-weight: lighter;
}

.module__title{
    border-bottom:1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}