@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

:root {
    --first-color: #040404;
    --second-color: #6fb722 ;
    --white-color: #e5e5e5 ;
  }

  :root {
    --body-font: 'Quicksand', sans-serif;
    --small-font-size: 0.875rem;
  }

  @media screen and (min-width: 768px) {
    :root {
      --small-font-size: 0.938rem;
    }
  }

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
  }

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


ul,li{
    margin:0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

.l-navbar{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 56px;
    height: 100vh;
    background-color: var(--first-color) ;
    padding: 1.25rem .5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

.display-navbar{
  display: block;
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav__logo{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 .5rem ;
}


@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}


.nav__logo-icon{
    animation-name: rotation;
	  animation-duration:20s;
	  animation-iteration-count: infinite;
	  animation-timing-function: linear;
    margin-right: 1.2rem;
    
}

.show_max_size{
  width: 100px;
  height: 100px;
  margin-left: 1em;
}

.nav__logo-text{
    color: var(--white-color);
    font-weight: 700;
}

.nav__toggle {
    position: absolute;
    top: 1.10rem;
    right: -.6rem;
    width: 18px;
    height: 18px;
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--first-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    color: var(--white-color);
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .nav__link:hover {
    background-color: var(--second-color);
    color: var(--first-color);
    text-decoration: none;
  }
  
  .nav__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  
  .nav__text {
    font-weight: 700;
  }
  
  /*Show menu*/
  .show {
    width: 168px;
  }
  
  /*Rotar el simbolito toggle*/
  .rotate {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  /* links menu*/
  .active {
    background-color: var(--second-color);
    color: var(--first-color);
  }
  
  /*esto es para el padding body*/
  .expander {
    padding: 3rem 0 0 12rem;
    -webkit-transition: .5s;
    transition: .5s;
  }


